@charset "UTF-8";
/* 公共 */
body { font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

a { outline: 0 none !important; color: #333333; }

a:hover { color: #cc0066; text-decoration: none; }

ul { padding: 0; list-style: none; }

.container { width: 1230px !important; }

.ov { overflow: hidden; }

.row-20 { margin: 0 -20px; }

.col-20 { padding: 0 20px; }

.row-25 { margin: 0 -25px; }

.col-25 { padding: 0 25px; }

.hr-30, .hr-25, .hr-20, .hr-15, .hr-10, .hr-5 { clear: both; font-size: 1px; height: 0; line-height: 1px; }

.hr-30 { height: 30px; }

.hr-25 { height: 25px; }

.hr-20 { height: 20px; }

.hr-15 { height: 15px; }

.hr-10 { height: 10px; }

.hr-5 { height: 5px; }

/* 页头 */
.header { margin-bottom: 30px; height: 60px; width: 100%; background-color: #333; }
.header .logo { margin-top: 5px; width: 200px; height: 50px; background-color: #dddddd; }
.header .logo h1 { margin: 0; padding: 0; text-indent: -99999px; }
.header .nav { font-size: 16px; margin-left: 30px; }
.header .nav a { color: #ddd; }
.header .nava:hover { color: #fff; }
.header .nav ul { margin: 0; }
.header .nav ul li { width: 100px; height: 60px; line-height: 60px; float: left; text-align: center; cursor: pointer; }
.header .nav ul li.active { background-color: #222222; border-top: 2px solid #cc0066; height: 58px; line-height: 58px; }
.header .nav ul li.active a { color: #fff; }
.header .nav ul li .dropdown { z-index: 999; background-color: #222222; position: absolute; width: 100px; top: 58px; display: none; }
.header .nav ul li .dropdown li { height: 40px; line-height: 40px; }
.header .nav ul li .dropdown li a { color: #ccc; display: block; font-size: 14px; }
.header .nav ul li .dropdown li a:hover { color: #fff; background-color: #333333; }
.header .search { margin: 15px 15px 0; width: 200px; height: 30px; background-color: #222; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.header .search .box { background-color: #222; border: none; color: #ccc; height: 28px; margin-left: 5px; width: 165px; outline: none; }
.header .search .icon-search { color: #999; cursor: pointer; }

/* 页尾 */
.footer { height: 120px; width: 100%; background-color: #333; }

.titleline { border-bottom: solid 2px #222222; }

/* 首页幻灯片 */
.banner .slide .pic { width: 560px; height: 300px; background-color: #cc0066; }
.banner .slide .list { width: 200px; }
.banner .slide .list a { display: block; width: 200px; height: 60px; line-height: 20px; float: left; padding: 10px; font-weight: bold; opacity: 0.5; color: #ffffff; }
.banner .slide .list a:hover { opacity: 1; }
.banner .slide .list .list-1 { margin-bottom: 20px; background-color: #ff9900; }
.banner .slide .list .list-2 { margin-bottom: 20px; background-color: #009900; }
.banner .slide .list .list-3 { margin-bottom: 20px; background-color: #006699; }
.banner .slide .list .list-4 { background-color: #cc0066; }
.banner .ads .top .ad { float: left; width: 170px; height: 130px; background-color: #dddddd; }
.banner .ads .down { margin-top: 30px; height: 140px; background-color: #dddddd; }

.recommend .titleline { height: 40px; }
.recommend .titleline span { font-size: 24px; margin: 0; display: inline-block; height: 40px; line-height: 36px; color: #222222; border-bottom: solid 2px #cc0066; }
.recommend .lists { margin: 0 -20px; }
.recommend .lists .list { padding: 0 20px; }
.recommend .lists .list .item { margin-top: 20px; }
.recommend .lists .list .item .thumb { width: 160px; height: 120px; background-color: #dddddd; margin-right: 20px; }
.recommend .lists .list .item .content { width: 193px; }
.recommend .lists .list .item .content h3 { margin: 0; height: 50px; font-size: 16px; line-height: 25px; }
.recommend .lists .list .item .content p { margin: 10px 0; height: 50px; line-height: 25px; color: #999999; }

.hotnews .titleline { height: 30px; }
.hotnews .titleline span { font-size: 18px; margin: 0; display: inline-block; height: 30px; line-height: 24px; color: #222222; border-bottom: solid 2px #cc0066; }
.hotnews .lists { margin-top: 20px; }
.hotnews .lists .item { margin-top: 10px; }
.hotnews .lists .item .thumb { width: 90px; height: 60px; background-color: #dddddd; margin-right: 20px; }
.hotnews .lists .item .content { width: 262px; }
.hotnews .lists .item .content h4 { margin: 0; height: 50px; font-size: 14px; line-height: 25px; }

.star .titleline { height: 40px; }
.star .titleline span { font-size: 24px; margin: 0; display: inline-block; height: 40px; line-height: 36px; color: #222222; border-bottom: solid 2px #cc0066; }
.star .titleline .linklist { float: right; margin-top: 10px; margin-right: 5px; }
.star .titleline .linklist a { display: inline-block; padding-left: 20px; }
.star .item { height: 350px; background-color: #dddddd; position: relative; }
.star .item .imgtitle { width: 210px; height: 60px; line-height: 25px; background-color: #ffffff; position: absolute; left: 28px; bottom: -30px; padding: 5px 15px; display: block; }
.star .list { margin-top: 40px; }
.star .list ul { margin: 0; }
.star .list li { background: transparent url("../images/dot.png") no-repeat scroll 0 10px; padding-left: 12px; height: 24px; line-height: 24px; overflow: hidden; }

.meitu .list { margin-top: 20px; }
.meitu .titleline { height: 40px; }
.meitu .titleline span { font-size: 24px; margin: 0; display: inline-block; height: 40px; line-height: 36px; color: #222222; border-bottom: solid 2px #cc0066; }
.meitu .titleline .linklist { float: right; margin-top: 10px; margin-right: 5px; }
.meitu .titleline .linklist a { display: inline-block; padding-left: 20px; }
.meitu .item { width: 175px; height: 265px; border: solid 1px #ccc; position: relative; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.meitu .item .image img { width: 173px; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px; border-radius: 5px 5px 0 0; }
.meitu .item .category { width: 173px; height: 30px; background-color: rgba(98, 98, 98, 0.8); position: absolute; top: 180px; z-index: 10; color: #ddd; line-height: 30px; }
.meitu .item .category a { color: #eee; }
.meitu .item .category a:hover { color: #fff; }
.meitu .item .category span { display: inline-block; font-size: 12px; text-align: center; height: 29px; }
.meitu .item .category .date { padding-left: 10px; }
.meitu .item .category .cat { width: 70px; background-color: #999; }
.meitu .item .title { height: 55px; line-height: 20px; padding: 6px; }

.common-ad { background-color: #dddddd; height: 90px; }
